*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial;
	margin-top:0px;
}

header{
	width: 98%;
	height: 150px;
	background-color: rgb(143, 143, 143);
	margin: 2% 1% 20px 1%;
}
header h1 {
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
}
#menu{
    width: 98%;
    height: 80px;
    background-color: rgb(143, 143, 143);
    margin: 0px 1% 20px 1%;
}
#menu h1, #nav1 h1{
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
}

