*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial;
	margin-top:0px;
}

header{
	width: 98%;
	height: 150px;
	background-color: rgb(143, 143, 143);
	margin: 2% 1% 20px 1%;
}
header h1 {
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
}
#menu{
    width: 98%;
    height: 80px;
    background-color: rgb(143, 143, 143);
    margin: 0px 1% 20px 1%;
}
#menu h1, #nav2 h1{
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
}
#contenedor{
    width: 78%;
    float: right;
    margin: 0px 1% 10px 1%;
}
#nav2{
    width: 100%;
    height: 80px;
    background-color: rgb(143, 143, 143);
    float: left;
}
#nav1{
    width: 18%;
    height: 500px;
    background-color: rgb(143, 143, 143);
	margin: 0px 1% 20px 1%;
    float: left;
	
}
#nav1 h1, #cuerpo1 h1{
    line-height: 400px;
    text-align: center;
    vertical-align: middle;
}
#cuerpo1{
    width: 71%;
    height: 400px;
    background-color: rgb(143, 143, 143);
    margin: 20px 0px 10px 0px;
    float:left;
}
#banner{
    width: 27%;
    height: 400px;
    background-color: rgb(143, 143, 143);
	margin: 20px 0px 10px 0px;
    float:right;
}
#banner h3{
    line-height: 400px;
    text-align: center;
    vertical-align: middle;
}
#limpiar::after {
    content: "";
    display: block;
    clear: both;
}
footer{
    width: 98%;
    height: 100px;
    background-color: rgb(143, 143, 143);
    margin: 0px 1% 0px 1%;
}
footer h3{
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

 




