header,
footer,
nav,
aside {
    display: none ;
}

/* Opcional: ajustar el contenido principal */
body {
    background:white ;
    color: black ;
	font-size: 12 pt
}

section, article {
    width: 100% ;
    margin: 0 ;
    padding: 0 ;
}

