@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal; 
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3em; 
  color:#0077c2;
  background-color: transparent;
  font-family: 'Poppins'
}
h2 {
  font-size: 1.8em; 
  color:red;
  background-color: transparent; 
  font-family: 'Poppins'
}
h3 {
  font-size: 1.2em;
  color:black;
  background-color: transparent;
  font-family: 'Poppins'
}
p{
   font-size: 1em;
    color:black;
    background-color: transparent;
    text-indent: 50px; 
    text-align :justify;
    font-family: 'Poppins'
}
nav{ 
  color:black;
  background-color: transparent   
}
nav li a{
    color: red ;
    background-color: transparent;
    font-size: 1em; 
}
body{
color:black;
  background-color: transparent   
}
footer{
color:black;
  background-color: yellow;
  font-family: 'Poppins';
  font-size: 1.5em; 
  padding: 2em; 
}
aside div ul li a{
color:mediumpurple;
  background-color: transparent;
  font-size: 1em;   
}
header div{
  color:black;
  background-color: yellow   
}
.aside{
color:black;
  background-color: transparent; 
  width: 15%;
  padding: 1em;
  font-family: 'Poppins', sans-serif; 
}
section article{
color:black;
  background-color: transparent;
  width: 80%;
  padding: 1em;
  font-family: 'Poppins', sans-serif;  
}
form{
  color:black;
  background-color: transparent;
  border: 2px solid #4a90e2;
  padding: 20px;
  margin: 20px auto;
  width: 600px;
  border-radius: 10px;
}
form fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}
.main{
color:white;
text-align:center;
font-family: 'Poppins';
font-weight: bold;
font-size: 1.2em;
}
.secondary{
  text-align:left;
  font-family: 'Poppins';
  font-size: 1.1em;
  table-layout: auto;
}
.aside li a:hover{
background-color:orange;
line-height: 30px;
}
.aside li a:active{
background-color: yellow;
}
aside ul{
  vertical-align:top;
}
/*caption{
  font-family: 'Poppins';
  font-size: 0.55em;
  color: black
}*/

nav .menu ul{
   position:fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 50%;
  gap: 1em; 
  justify-content: center;
}
nav .menu ul li a{
 
  display: inline-block;
  padding: 0.6em 1.2em;
  background-color: #6dbe45;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
}
nav .menu li a:hover{
  color: orange;
}
nav .menu li a:active{
  background-color: yellow;
}
section{
	margin:40px 0px 300px 0px;
}
article{
	width: 75%;
	padding:120px 0px 30px 25px;
}
.contenedor {
  display: flex;
  width: 100%;
  gap: 2em;
  align-items: flex-start;
}
.cabecera{
 display: flex;
  align-items: center;      
  justify-content: left;   
  gap: 2em;                  
  padding: 1em;
}
.contenedorfooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.infofooter {
  width: 30%;
}
.infofooter h2 {
  color:#0077c2;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.infofooter a:hover {
  color:black;
  text-decoration: none;
  display: block;
  margin-bottom: 0.3em;
  font-size: 0.80rem;
  text-decoration: underline;
}
.redessociales {
  margin-top: 0.5em;
  display: flex;
  gap: 0.5em;
}
.mapaubicacion {
  width: 55%;
  text-align: right;
}
.mapaubicacion h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.mapaubicacion iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 8px;
}
table{
  width: 100%; 
border-collapse: collapse;
text-align: center; 
font-family: 'Poppins', sans-serif;
}
td, th {
  border: 2px solid #2EC1AC;        
  padding: 1em;                     
  }
.contenedor-servicios {
  display: flex;
  align-items: stretch;
  gap: 2em;
  width: 100%;
  padding: 2em;
  font-family: 'Poppins', sans-serif;
}
.titulo-tabla {
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  color:black;
  margin-top: 1em;
  font-family: 'Poppins', sans-serif;
}
.whatapp{
  position:fixed;
   bottom: 20px;
   right: 20px;
}
table tr:first-child{
	background-color:  red; 
}
tr:nth-child(even) {
	background-color:  #c77715 ;
}
tr:nth-child(odd) {
	background-color: #95a72f;
}
input {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
   border: 1px solid #ccc;
   border-radius: 5px;
}
textarea{
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.basic-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
}
.shaded-input {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100px;
}
.hover-focus-input {
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s;
    width: 250px;
}
.hover-focus-input:hover,
.hover-focus-input:focus {
    border-color: #66afe9;
}































